.wrapper{
    min-height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginForm{
        
        >form{
            background-color: #1D2125;
            min-width: 480px;
            padding: 32px;

            .topBackButton{
                position: relative;
                cursor: pointer;
                margin-bottom: 1rem;

                .contentButton{
                    max-width: 70px;
                }

            }

            .formHeading{
                color: #fff;
                display: flex;
                justify-content: center;
            }

        }
    }
}