.wrapper{
    min-height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginForm{
        
        >form{
            background-color: #1D2125;
            min-width: 480px;
            padding: 32px;

            .button{
                position: relative;

                .contents{
                    &::after{
                        content: '';
                        height: 0.125rem;
                        width: 0;
                        position: absolute;
                        background-color: #fff;
                        transition-property: all;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 150ms;
                        // @apply w-0 absolute left-0 -bottom-3 h-0.5 bg-black transition-all duration-500;

                        .content{
                            display: flex;
                        }
                    }
                }
            }


        }
    }
}