@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@media screen and (min-width: 768px){
    :root {
        --num-grid-columns: 8;
        --page-gutter: 40px;
        --section-spacing: 80px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --num-grid-columns: 12;
        --section-spacing: 120px;
    }
}

:root {
    --off-white: #f6f6f6;
    --white: #f6f6f6;
    --not-quite-black: #23272a;
    --page-max-width: 1260px;
    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --fg: #e3e4e8;
    --shade1: #23252a;
    --shade2: #3e424c;
    --shade3: #4a4e5a;
}

* {
    margin: 0;
    padding: 0;
}
body, html, #__next {
    width: 100%;
    height: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body {
    text-rendering: optimizeLegibility;
}

a, h1, h2, h3, h4, h5, h6, p {
    color: #F8F8F8;
    font-family: 'Iceland', cursive;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}