.Header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    cursor: unset;
    width: 10%;
    svg:hover {
        cursor: pointer;
    }
}

.Links {
    text-align: center;
    width: 80%;
    a {
        font-size: 16px;
        margin: 10px;
        padding: 10px;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
}


.AppButton {
    cursor: pointer;
    border-radius: 40px;
    background-color: #fff;
    width: 65px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: 14px;
        color:black;
    }

}    
.AppButton:hover {
    transition: 0.2s;
    -webkit-box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    a {
        transition: 0.2s;
        color: rgb(234, 0, 255);
    }
}
